.chatcontainer {
	height: 100vh;
	max-height: 100vh;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	position: relative;

	&__holder {
		width: 100%;
		height: calc(100vh - 10vh);
	}
}

.chatcontainer::-webkit-scrollbar {
	display: none;
}
