@import '../mixins';

.login {
	height: 100vh;
	@include flexSpace(row, center);
	-webkit-animation: login 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: login 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

	&__container {
		background: $iceblue;
		padding: 50px 20px;
		width: 80%;
		border-radius: 10px;

		h1 {
			text-transform: uppercase;
			letter-spacing: 2px;
			text-align: center;
			font-family: $poppins;
			font-weight: $bold;
		}
	}

	&__input {
		display: block;
		width: 100%;
		margin-bottom: 20px;
		height: 30px;
		outline: transparent;
		border: none;
		padding: 10px;
		font-weight: $medium;

		&:focus {
			border: 1px solid $gray;
		}

		&::placeholder {
			color: $gray;
		}
	}

	button {
		display: block;
		margin: 10px auto 0;
		padding: 8px 0;
		width: 100%;
		font-weight: $medium;
		background: $light-green;
		border: none;
		cursor: pointer;
		margin-bottom: 7px;
		font-weight: $medium;
		letter-spacing: 2px;

		&:hover {
			background: $dark-green;
		}
	}
}

@-webkit-keyframes login {
	0% {
		-webkit-transform: translateZ(-1400px) translateX(-1000px);
		transform: translateZ(-1400px) translateX(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0) translateX(0);
		transform: translateZ(0) translateX(0);
		opacity: 1;
	}
}
@keyframes login {
	0% {
		-webkit-transform: translateZ(-1400px) translateX(-1000px);
		transform: translateZ(-1400px) translateX(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0) translateX(0);
		transform: translateZ(0) translateX(0);
		opacity: 1;
	}
}
