.maincontainer {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	position: relative;
	height: 100vh;
	overflow-y: hidden;

	.chatcontainer {
		grid-column: 1/-1;
		position: relative;
	}
	.messagecontainer {
		grid-column: 1/-1;
		position: relative;
	}
}
