.small {
	line-height: 0 !important;
}

.messageBox__holder {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 20vh);
	overflow-y: auto;
	background: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.2),
			rgba(255, 255, 255, 0.4)
		),
		url(../../../bg-image.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 7px;

	.message {
		background: #fff;
		max-width: 60%;
		width: max-content;
		padding: 10px 20px;

		&__text {
			display: flex;
			flex-direction: column;
			font-family: $poppins;
			word-wrap: break-word;
			font-weight: $light;
		}

		&__time {
			align-self: flex-end;
			font-weight: $thin;
			display: flex;
			align-items: center;
			gap: 2px;
			line-height: 0 !important;
		}

		&__img {
			height: 200px;
			width: 100%;
			img {
				display: block;
				// object-fit: contain;
				object-position: top left;
				max-width: 100%;
				max-height: 100%;
				width: 100%;
				height: 100%;
				border-radius: 10px;
			}
		}
	}

	.incoming {
		background: $blue;
		border-radius: 0 20px 20px 20px;
		margin-left: 10px;
		margin-top: 10px;
		color: #fff;
	}

	.outgoing {
		background: $iceblue;
		color: white;
		border-radius: 20px 0 20px 20px;
		margin-right: 10px;
		margin-top: 10px;
		align-self: flex-end;
	}
}
