@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;600&display=swap');

@import './variables';

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $roboto;
}

/* Select the entire scrollbar */
::-webkit-scrollbar {
	width: 5px; /* Width of the scrollbar */
	background: transparent;
}
::-moz-scrollbar {
	width: 5px;
	background: transparent;
}

/* Select the thumb */
::-webkit-scrollbar-thumb {
	background-color: $gray; /* Color of the thumb */
	border-radius: 5px; /* Rounded corners */
}
::-moz-scrollbar-thumb {
	background-color: $gray; /* Color of the thumb */
	border-radius: 5px; /* Rounded corners */
}

/* Select the track */
::-webkit-scrollbar-track {
	background-color: transparent; /* Color of the track */
}
::-moz-scrollbar-track {
	background-color: transparent;
}
