// Fonts
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

// FontWeights
$thin: 100; //roboto
$light: 300; //roboto
$medium: 400; //poppins || roboto
$bold: 600; //poppins
$heavy: 800; //poppins

// colors
$iceblue: #8babd8;
$light-green: #78e378;
$dark-green: #45ce45;
$red: #f71735;
$black: #011627;
$gray: #707991;
$light-gray: #f5f5f5;
$blue: #1a9cff;
