@import './partials/reset';
@import './partials/variables';
@import './mixins';
@import './partials//chatbox';
@import './partials/login';
@import './partials/register';
@import './partials/mediaQueries';
body {
	background: $light-gray;
	color: $black;
}

.error {
	color: $red;
	text-decoration: underline;
}
.black {
	color: $black;
}
.success {
	color: $dark-green;
}
.primary {
	color: $blue;
}

.secndary {
	color: $gray;
}
.white {
	color: $light-gray;
}

.fw--thin {
	font-weight: $thin;
}
.fw--light {
	font-weight: $light;
}
.fw--medium {
	font-weight: $medium;
}
.fw--bold {
	font-weight: $bold;
}
.fw--heavy {
	font-weight: $heavy;
}
